[user]
    name = Paul Ahern
    email = ahernp@ahernp.com
[merge]
    tool = vimdiff
[core]
    editor = hx
    pager = delta
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
    ui = auto
[push]
    default = simple

# Use ssh instead of https
[url "git@github.com:"]
    insteadOf = https://github.com/
[branch]
    sort = -committerdate
[column]
    ui = auto

# Better diff formatting with delta:
[include]
    path = /home/ahernp/.local/delta/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[delta]
    features = weeping-willow
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictstyle = zdiff3
