[user]
	name = Paul Ahern
	email = ahernp@ahernp.com
[merge]
    tool = vimdiff
[core]
    editor = hx
    pager = delta
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
    ui = auto
[push]
    default = simple

# Use ssh instead of https
[url "git@github.com:"]
	insteadOf = https://github.com/
[branch]
	sort = -committerdate
[column]
	ui = auto

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictstyle = zdiff3
