#[client]
#user = <userid>
#password = <password>
#database = <db_name>
[mysql]
auto-rehash
# Do not apply updates or deletes which lack where clauses
safe-updates
# Include database name in prompt
prompt='\d> '
